:root {
    --body-text-color: #434455;
    --body-bg-color: #fff;
    --bright_text-color: #f4f4fd;
    --headings-color: #2e2f42;
    --primary-brand-color: #4d5ae5;
    --active-button-color: #404bbf;
    --portfolio-border-color: #e7e9fc;
    --footer-active-links-bg: #31d0aa;
    --features-picture-color: #8e8f99;
    --font-color: #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-text-color);
    background-color: var(--body-bg-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
     margin: 0;
}

img {
    display: block;

}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Navigation-section*/
.header {
    border-bottom: 1px solid var(--portfolio-border-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-logo {
    display: inline-block;
    color: var(--primary-brand-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo-accent {
    color: var(--headings-color);
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: var(--headings-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--active-button-color);
}

.nav-link-studio {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--active-button-color);
}

.nav-link-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.address-section {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    color: var(--body-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--active-button-color);
}

/*Hero-section*/

.hero-section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: var(--body-bg-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    color: var(--body-bg-color);
    background-color: var(--primary-brand-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--active-button-color);
}

/*Features-section*/

.features-section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-list-title {
    color: var(--headings-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text {
    color: var(--body-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

/*Team-section*/

.team-section {
    background-color: var(--bright_text-color);
    padding: 120px 0;
}

.section-title {
    color: var(--headings-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--body-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    text-align: center;
}

.card-text-block {
    padding: 32px 0;
}

.team-list-title {
    color: var(--headings-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-links .link {
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .icon {
    fill: var(--bright_text-color);
}

.social-links .link:hover,
.social-links .link:focus {
    background-color: var(--active-button-color);
}

/*Portfolio-section*/

.portfolio-section {
    padding: 120px 0 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-text-block {
    padding: 32px 16px;
    border: 1px solid var(--portfolio-border-color);
    border-top: none;
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    color: var(--bright_text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--primary-brand-color);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-list-title {
    color: var(--headings-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Footer-section*/

.footer {
    padding: 100px 0;
    background-color: var(--headings-color);
}

.footer-inner {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    align-items: center;
    color: var(--primary-brand-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-logo-accent {
    color: var(--bright_text-color);
}

.footer-text {
    color: var(--bright_text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo-text {
    margin-right: 120px;
}

.footer-socials-title {
    color: var(--body-bg-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    }

.footer-socials {
    display: flex;
    gap: 16px;
}

.footer-socials-item {
    width: 40px;
    height: 40px;
}

.footer-socials-item .link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials .link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials .link:hover,
.footer-socials .link:focus {
    background-color: var(--footer-active-links-bg);
}

.footer-socials .icon {
    fill: var(--bright_text-color);
}

/* End footer*/

.div-footer-form {
    margin-left: 80px;
}

.footer-form-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--font-color);
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--primary-brand-color);
    border: none;
    border-radius: 4px;
}

.telegram-icon {
    margin-left: 16px;
}

/* modal */

.topbar-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.topbar-form-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}

.form-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close-button:hover,
.form-close-button:focus {
    fill: #ffffff;
    background-color: var(--active-button-color);
    border: none;
}

.close-button-cross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close-button:hover>.close-button-cross,
.form-close-button:focus>.close-button-cross {
    fill: #ffffff;
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-a-c);
    margin-bottom: 16px;
}

.form-container {
    margin-bottom: 8px;
}

.topbar-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.topbar-form-input-cont {
    position: relative;
}

.topbar-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.topbar-form-input:focus+.topbar-form-icon,
.topbar-form-input:hover+.topbar-form-icon {
    fill: #4d5ae5;
}

.topbar-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.topbar-form-input:focus+.topbar-form-icon {
    fill: #4d5ae5;
}

.topbar-form-input:focus {
    border-color: #4D5AE5;
}

.form-textarea-container {
    margin-bottom: 16px;
}

.topbar-form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: block;
}

.topbar-form-textarea:focus {
    border-color: #4d5ae5;
}

.checkbox-container {
    margin-bottom: 24px;
}

.topbar-form-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.policy-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}

.visually-hidden:checked+.topbar-form-label-checkbox .policy-check {
    background-color: var(--active-button-color);
    border: none;
}

.custom-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.policy-text {
    display: inline-block;
    margin-left: 8px;
}

.send-button {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover {
    background-color: #404bbf;
    border: none;
}

.send-button:focus {
    background-color: #404bbf;
    border: none;
    outline: none;
}

.policy-check-text {
    display: inline-block;
    padding-left: 8px;
}

.is-hidden {
    display: none;
}

.is-hidden1 {
    display: none;
}