:root {
    --body-text-color: #434455;
    --body-bg-color: #fff;
    --bright_text-color: #f4f4fd;
    --headings-color: #2e2f42;
    --primary-brand-color: #4d5ae5;
    --active-button-color: #404bbf;
    --portfolio-border-color: #e7e9fc;
    --footer-active-links-bg: #31d0aa;
    --features-picture-color: #8e8f99;
    --font-color: #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-text-color);
    background-color: var(--body-bg-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;

}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Navigation-section*/
.header {
    border-bottom: 1px solid var(--portfolio-border-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-logo {
    display: inline-block;
    color: var(--primary-brand-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo-accent {
    color: var(--headings-color);
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: var(--headings-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--active-button-color);
}

.nav-link-studio {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--active-button-color);
}

.nav-link-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--active-button-color);
    border-radius: 2px;
    width: 100%;
}

.address-section {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    color: var(--body-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--active-button-color);
}

/*Hero-section*/

.hero-section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: var(--body-bg-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    color: var(--body-bg-color);
    background-color: var(--primary-brand-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--active-button-color);
}

/*Features-section*/

.features-section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--bright_text-color);
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--features-picture-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-list-title {
    color: var(--headings-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text {
    color: var(--body-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/*Team-section*/

.team-section {
    background-color: var(--bright_text-color);
    padding: 120px 0;
}

.section-title {
    color: var(--headings-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--body-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    text-align: center;
}

.card-text-block {
    padding: 32px 0;
}

.team-list-title {
    color: var(--headings-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-links .link {
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .icon {
    fill: var(--bright_text-color);
}

.social-links .link:hover,
.social-links .link:focus {
    background-color: var(--active-button-color);
}

/*Portfolio-section*/

.portfolio-section {
    padding: 120px 0 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-text-block {
    padding: 32px 16px;
    border: 1px solid var(--portfolio-border-color);
    border-top: none;
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    color: var(--bright_text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--primary-brand-color);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-list-title {
    color: var(--headings-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Footer-section*/

.footer {
    padding: 100px 0;
    background-color: var(--headings-color);
}

.footer-inner {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    align-items: center;
    color: var(--primary-brand-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-logo-accent {
    color: var(--bright_text-color);
}

.footer-text {
    color: var(--bright_text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo-text {
    margin-right: 120px;
}

.footer-socials-title {
    color: var(--body-bg-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-socials {
    display: flex;
    gap: 16px;
}

.footer-socials-item {
    width: 40px;
    height: 40px;
}

.footer-socials-item .link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials .link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials .link:hover,
.footer-socials .link:focus {
    background-color: var(--footer-active-links-bg);
}

.footer-socials .icon {
    fill: var(--bright_text-color);
}

/* End footer */
/* Добавляет отступ слева в 80px для элемента */
.div-footer-form {
    margin-left: 80px;
}

/* Стили для абзацев внутри футера: отступ снизу, жирный шрифт, размер шрифта, межстрочный интервал, расстояние между буквами, цвет текста */
.footer-form-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

/* Стили для контейнера формы: отображение как flex, расстояние между элементами */
.footer-form {
    display: flex;
    gap: 24px;
}

/* Стили для ввода данных внутри формы: ширина, высота, граница, фон, размер шрифта, межстрочный интервал, расстояние между буквами, отступ слева, тень, радиус границы, цвет текста */
.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

/* Стили для плейсхолдера внутри ввода данных */
.footer-form-input::placeholder {
    color: #ffffff;
}

/* Стили для кнопки внутри формы: минимальная ширина, высота, выравнивание и отображение текста, шрифт, размер шрифта, жирный шрифт, межстрочный интервал, расстояние между буквами, цвет текста, курсор, фон, граница, радиус границы */
.footer-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    ;
    border: none;
    border-radius: 4px;
}

/* При ховере на кнопку изменяем цвет фона */
.footer-form-button:hover {
    background-color: #404bbf;
    fill: #ffffff;
}

/* При фокусе на кнопку также изменяем цвет фона */
.footer-form-button:focus {
    background-color: #404bbf;
    fill: #ffffff;
    /* Изменение цвета иконки */
    outline: none;
    /* Убираем контур при фокусе */
}

/* Стили для иконки телеграм в форме */
.telegram-icon {
    margin-left: 16px;
}

/* Стили для контейнера верхней панели: фиксированное позиционирование, размеры, фон, переход при изменении видимости */
.topbar-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для основного контента в верхней панели: абсолютное позиционирование, размеры, фон, тень, радиус границы, переход при изменении масштаба, отступы */
.topbar-form-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fafafa;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    border-radius: 4px;
    padding: 72px 24px 24px;
}

/* Стили для кнопки закрытия формы: абсолютное позиционирование, размеры, радиус границы, фон, граница, курсор, переход при наведении и фокусе */
.form-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для крестика в кнопке закрытия формы */
.form-close-button:hover,
.form-close-button:focus {
    fill: #ffffff;
    background-color: var(--hover-c);
    border: none;
}

/* Стили для текста крестика в кнопке закрытия формы */
.close-button-cross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для текстового заголовка в форме: жирный шрифт, размер шрифта, межстрочный интервал, выравнивание по центру, расстояние между буквами, цвет текста, отступ снизу */
.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-a-c);
    margin-bottom: 16px;
}

/* Стили для контейнера формы */
.form-container {
    margin-bottom: 8px;
}

/* Стили для текстовых меток в форме: размер шрифта, межстрочный интервал, расстояние между буквами, цвет текста, отображение как блочный элемент, отступ снизу */
.topbar-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

/* Стили для контейнера ввода данных: относительное позиционирование */
.topbar-form-input-cont {
    position: relative;
}

/* Стили для текстовых полей ввода данных: ширина, высота, граница, радиус границы, фон, отступ слева, невидимая обводка при фокусе */
.topbar-form-input {
    width: 100%;
    /* Устанавливаем ширину элемента на 100% ширины родительского элемента */
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для текстовых полей ввода данных при фокусе */
.topbar-form-input:focus {
    border-color: #4D5AE5;
    /* Изменяем цвет рамки при фокусе на input */
    outline: none;
    /* Убираем контур при фокусе */
}

/* Стили для иконки в текстовом поле ввода данных при фокусе */
.topbar-form-input:focus+.topbar-form-icon {
    fill: #4D5AE5;
    /* Изменяем цвет иконки при фокусе на input */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для иконки в текстовом поле ввода данных при фокусе */
.topbar-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    /* Сдвигаем элемент к верхней границе контейнера на 50% его высоты */
    transform: translateY(-50%);
    /* Центрируем элемент по вертикали */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для иконки в текстовом поле ввода данных при фокусе */
.topbar-form-input:focus+.topbar-form-icon {
    fill: #4d5ae5;
}

/* Стили для контейнера текстового поля ввода данных: отступ снизу */
.form-textarea-container {
    margin-bottom: 16px;
}

/* Стили для текстовых полей ввода данных типа textarea: граница, ширина, высота, размер шрифта, межстрочный интервал, расстояние между буквами, цвет текста, радиус границы, фон, отступы, невидимая обводка при фокусе */
.topbar-form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    /* Устанавливаем ширину элемента на 100% ширины родительского элемента */
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: block;
}

/* Стили для текстовых полей ввода данных типа textarea при фокусе */
.topbar-form-textarea:focus {
    border-color: #4D5AE5;
    /* Изменяем цвет рамки при фокусе на textarea */
    outline: none;
    /* Убираем контур при фокусе */
}

/* Стили для контейнера чекбокса: отступ снизу */
.checkbox-container {
    margin-bottom: 24px;
}

/* Стили для текстовых меток чекбоксов: размер шрифта, межстрочный интервал, расстояние между буквами, цвет текста */
.topbar-form-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

/* Стили для самих чекбоксов: размеры, граница, радиус границы, фон, переход при изменении видимости, обводка и заливка при выборе */
.policy-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

/* Стили для тега span, когда input в состоянии checked */
input:checked+label>span {


    /* Убираем стандартное оформление кнопки */
    border-color: #4d5ae5;
}

/* Стили для иконки внутри тега span, когда input в состоянии checked */
input:checked+label>span svg {
    fill: #F4F4FD;
    /* Задаем цвет иконки */
}

/* Стили для посилання внутри label */
label>a[class*="a-z"][class*="0-9"][class*="-_"] {
    color: #4d5ae5;
    /* Задаем цвет текста посилання */
}

/* Стили для чекбоксов при выборе */
.visually-hidden:checked+.topbar-form-label-checkbox .policy-check {}

/* Стили для текста с ссылкой на политику */
.policy-a {
    color: #4d5ae5;
    text-decoration: underline;
}

/* Стили для текста рядом с ссылкой на политику */
.policy-text {
    display: inline-block;
    margin-left: 8px;
}

/* Стили для кнопки отправки формы: отображение как блочный элемент, размеры, шрифт, размер шрифта, жирный шрифт, межстрочный интервал, расстояние между буквами, цвет текста, курсор, фон, граница, радиус границы, переход при наведении */
.send-button {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для текста рядом с чекбоксами */
.policy-check-text {
    display: inline-block;
    padding-left: 8px;
}

.policy-check svg {
    visibility: hidden;
}

input:checked+label>span svg {
    visibility: visible;
}

/* Класс для скрытия элементов путем установки свойства display в "none" */
.is-hidden {
    display: none;
}

/* Класс для скрытия элементов путем установки свойства display в "none" */
.is-hidden1 {
    display: none;
}